<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-passopener"
      version="0.2.1">

    <name>PassOpener</name>
    <description>This plugin allows you to add passes to Your favorite pass application</description>
    <author>Jeeday</author>
    <license>Apache 2.0</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="PassOpener">
                <param name="ios-package" value="CDVPassOpener"/>
            </feature>
        </config-file>

        <js-module src="www/passopener.js" name="passopener">
            <clobbers target="PassOpener" />
        </js-module>

        <header-file src="src/ios/CDVPassOpener.h" />
        <source-file src="src/ios/CDVPassOpener.m" />
    
        <framework src="PassKit.framework" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PassOpener">
                <param name="android-package" value="com.jeeday.passopener"/>
            </feature>
        </config-file>

        <source-file src="src/android/PassOpener.java" target-dir="src/com/jeeday/passopener" />
    </platform>

</plugin>
